<article>
    <table>
        <tr>
            <td>
                <div id="moduleA" class="module">
                    <svg width="128" height="128">
                    <circle cx="64" cy="64" r="64" fill="#808b87" fill-opacity="1" class="ready"></circle>
                    </svg>
                </div>
            </td>
            <td>
                <div id="moduleB" class="module">
                    <svg width="128" height="128">
                    <circle cx="64" cy="64" r="64" fill="#7a776c" fill-opacity="1" class="ready"></circle>
                    </svg>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="moduleC" class="module">
                    <svg width="128" height="128">
                    <circle cx="64" cy="64" r="64" fill="#645849" fill-opacity="1" class="ready"></circle>
                    </svg>
                </div>
            </td>
            <td>
                <div id="moduleD" class="module">
                    <svg width="128" height="128">
                    <circle cx="64" cy="64" r="64" fill="#7a7060" fill-opacity="1" class="ready"></circle>
                    </svg>
                </div>
            </td>
        </tr>
    </table>
</article>