.wrapper {
    margin: 2em auto;
    text-align: center;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
}

.wrapper h1 {
    margin-bottom: 0;
}

.wrapper p {
    margin-top: 0;
    margin-bottom: 40px;
}

.wrapper table {
    margin-left:auto;
    margin-right:auto;
}

.wrapper section {
    float: left;
    width:660px;
}

.wrapper aside {
    float: left;
    width: 300px;
}

.wrapper footer {
    clear: both;
    padding-top: 40px;
}

.wrapper .module {
    padding: 5px;
}